<div style="display: inline-block; padding: 5px">
  <%= medium_form.label :medium_type %>
  <%= medium_form.number_field :medium_type %>
  <%= medium_form.label :url %>
  <%= medium_form.text_field :url %>
  <%= medium_form.check_box :_destroy %>
  <%= medium_form.label :_destroy, 'remove medium' %>
</div>
<br/>
