<div style="display: inline-block; padding: 5px">
  <%= f.label :medium_type %>
  <%= f.number_field :medium_type %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, 'remove medium' %>
</div>
<br/>
