<h1><%= I18n.t('messages.feed') %></h1>

<%= link_to I18n.t('links.create'), status_new_path %>

<div>
  <%= I18n.t('languages.language') %>
  <div>
    <%= link_to I18n.t('languages.english'), url_for(locale: :en) %>
    <span> | </span>
    <%= link_to I18n.t('languages.portuguese'), url_for(locale: 'pt-BR') %>
  </div>
</div>

<% if @statuses.any? %>
  <table class="statuses-table">
    <thead>
      <tr>
        <th><%= User.human_attribute_name(:display_name) %></th>
        <th><%= Status.human_attribute_name(:body) %></th>
        <th><%= Status.human_attribute_name(:created_at) %></th>
      </tr>
    </thead>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.user.display_name %></td>
        <td><%= status.body[..50] %></td>
        <td><%= I18n.l(status.created_at) %></td>
        <td><%= link_to I18n.t('links.view'), status_path(status) %></td>
        <td><%= link_to I18n.t('links.reply'), status_reply_path(status) %></td>
        <td><%= link_to I18n.t('links.delete'), status_delete_path(status), data: { 'turbo-method': :delete } %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= I18n.t('messages.peeps-count', count: @statuses.size) %>
